.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
}

.App-header {
  background-color:  rgb(219, 68, 55);
  height: 150px;
  padding: 20px;
  color: white;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  width: 100%;
}

.address-form {
  width: 35%;
  align-self: center;
}

.container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-distance {
  width: 35%;
  text-align: center;
}

.post-create-container {
  width: 40%;
  align-self: center;
}

.post {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
